@charset "UTF-8";

/* 사이드바 스타일 */
.sidebar {
    width: 200px;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px 0;
}

.sidebar-title {
    display: block;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
}

.sidebar-category {
    display: flex;
    flex-direction: column;
}

.sidebar-section {
    margin-bottom: 10px;
}

.sidebar-section a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.sidebar-header {
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.sidebar-menu {
    flex-direction: column;
}

.sidebar-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.sidebar-menu a:hover {
    background-color: #f0f0f0;
}
