@charset "UTF-8";

@font-face {
	font-family: 'NoonnuBasicGothicRegular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

#top-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;
}

header {
	height: 150px;
	width: 100%;
	display: flex;
	gap: 40px;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

#logo {
	position: relative;
	top: -17px;
	left: -90px;
	height: 50px;
	width: 200px;
	cursor: pointer;
}

nav {
	height: 45px;
	width: 800px;
	display: flex;
	vertical-align: middle;
	position: relative;
	top: 45px;
	left: 400px;
}

.menuBtn {
	height: 45px;
	font-size: 20px;
	background: transparent;
	border: none;
	outline: none;
	margin: 0 10px;
	font-family: 'NoonnuBasicGothicRegular';
}


.menuBtn:hover {
	color: rgb(226, 140, 153);
}

