/* 전체 레이아웃 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
   /*  overflow: hidden; */
}

/* I, Look 글자 스타일 */
#title {
    font-size: 60px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.required::before {
    content: "●";
    color: orange;
    margin-right: 5px;
    font-size: 16px;
}

.required {
    font-weight: bold;
    text-align: left;
    color: #333;
}

.form-container {
    background-color: #e0e0e0;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

table {
    width: 100%;
    border-spacing: 2px;
    background-color: #c0c0c0;
    border: 2px solid black;
    padding: 12px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    table-layout: fixed; /* 테이블이 자동으로 늘어나는 것을 방지 */
    word-wrap: break-word;
}

tr:last-child {
    margin-top: 20px;
}

#submit-btn {
    margin-top: 20px;
    background-color: #888;
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.text, #address {
    width: 100%;
    padding: 6px;
    margin: 3px 0;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
}

button, input[type="submit"] {
    background-color: #888;
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

button:hover, input[type="submit"]:hover {
    background-color: #555;
    border: 2px solid #444;
}

#error-message, #password-error {
    font-size: 12px;
    color: red;
}

.input-container, .address-container, .ssn-container, .phone-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container input, .ssn-container input, .phone-container input {
    width: 80%;
}

.input-container button, .address-container button {
    width: 18%;
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

button.duplicate-check {
    font-size: 14px;
}

#address[readonly] {
    background-color: #f1f1f1;
}

/* #password-error 
{
    font-size: 8px;
    color: red;
    display: block;
    max-width: 100%;
    word-break: keep-all;   단어 기준으로 줄바꿈
    white-space: normal;    텍스트 줄바꿈 허용
    line-height: 1.4;
} */