@charset "UTF-8";

/* 사이드바 */
.sidebar {
  position: fixed; 
  top: 230px;      
  left: 400px;       
  width: 220px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(192, 192, 192, 0.4);
  padding: 30px 15px;
  z-index: 100;
  font-family: 'Roboto', sans-serif;
}

/* 메뉴 전체 */
.menu 
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 메뉴 아이템 */
.menu-item > a 
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  background-color: #f9f9f9;
  padding: 10px 8px;
  /* border: 1px solid #f2c9db; */
  border-radius: 5px;
  transition: background-color 0.2s;
}

.menu-item > a i 
{
  margin-right: 8px;
  font-size: 16px;
}

/* 서브메뉴 항상 보이도록 */
.submenu 
{
  margin-top: 6px;
  padding-left: 16px;
  display: block;
}

/* 서브메뉴 항목 */
.submenu a 
{
  display: flex;               
  align-items: center;        
  justify-content: center;     
  font-size: 12px;
  color: #777;
  padding: 4px 6px;
  text-decoration: none;
  border-radius: 3px;
  background-color: #fff;
  transition: background-color 0.2s;
  height: 36px; 
}

/* 서브메뉴 hover 효과 */
.submenu a:hover 
{
  background-color: #fce4ec;
  color: #222;
}

.sidebar-title 
{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #ffb3d9;
  padding-bottom: 10px;
}

/* 네비게이션바 */

        @font-face {
            font-family: 'NoonnuBasicGothicRegular';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
        
        #wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 25px;
        }

        header {
            height: 150px;
            width: 100%;
            display: flex;
            gap: 40px;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
            z-index: 100;
            background-color: white;
            
            /* 변경 부분 */
            margin-bottom: 80px;
        }

        #logo {
            position: relative;
            top: -17px;
            left: -90px;
            height: 50px;
            width: 200px;
        }

        nav {
            height: 45px;
            width: 800px;
            display: flex;
            vertical-align: middle;
            position: relative;
            top: 45px;
            left: 260px;
        }

        .menuBtn {
            height: 45px;
            font-size: 20px;
            background: transparent;
            border: none;
            outline: none;
            margin: 0 10px;
            font-family: 'NoonnuBasicGothicRegular';
        }

        .presentPage {
            color: rgb(226, 140, 153);
        }

        .menuBtn:hover {
            color: rgb(226, 140, 153);
        }

        #notice {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 250px;
            width: 1200px;
            gap: 5px;
        }

        #notice_text {
            border: 2px solid gainsboro;
            height: 100%;
            width: 98%;
            border-radius: 20px;

        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 25px;
        }

        #fillter {
            height: 400px;
            width: 1170px;
            display: flex;
            justify-content: center;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        #select_box {
            border: 2px solid gainsboro;
            height: 100px;
            width: 1100px;
            border-radius: 20px;
            margin-top: 40px;
        }
        
/* 전체 수정페이지 스타일 */
.withdraw-list 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 0 auto;
    width: 800px;
    height: auto;
    box-shadow: 0 0 15px rgba(192, 192, 192, 0.5);
    gap: 20px;
    transform: translateX(230px); /*오른쪽으로 자꾸 안가서 transform 이용*/
    overflow: hidden; 
   	margin-bottom: 100px; 
   	margin-left: 445px;
}
        
/* 제목 스타일 */
.page-title 
{
    text-align: center !important;
    margin-bottom: 16px;
    transform: translateX(-200px);
    margin-top: 80px; 
}

.page-title h2 
{
    font-size: 20px;
    font-weight: bold;
    color: #808080;
    margin: 0;
    margin-bottom: 10px;  
}

.next-title h2 
{
    font-size: 18px;
    font-weight: bold;
    color: #808080;
    margin: 0;
    margin-bottom: 0;
    text-align: center;
}

/* 이미지 스타일 */
.profile-image 
{
    width: 100%;
    max-width: 300px;
    object-fit: cover;
/*     border: 2px solid #ccc;
    border-radius: 8px; */
}
     
/* 버튼 스타일 */
.form-buttons 
{
    display: flex; 
    justify-content: center; 
    gap: 10px; 
}

.form-buttons .btn 
{
    background-color: #ffffff;
    color: #808080;
    border: none;
    padding: 6px 10px;
    font-size: 10pt;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 2px solid #c0c0c0;
}

.form-buttons .btn:hover 
{
    background-color: #e5e5e5;
}
